body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    padding: 60px 0;
    background-color: #dbc7c7;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 65%, 25%);

    text-shadow:
        0 1px 0 rgba(0, 0, 0, 0.6),
        0 -1px 0 rgba(255, 255, 255, 0.35);
}

#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(
        to bottom,
        hsl(0, 65%, 55%),
        hsl(0, 65%, 38%)
    );
    border-radius: 25px;
    max-width: 400px;
    box-shadow:
        0 12px 0 hsl(0, 65%, 30%),     
        0 18px 30px rgba(0, 0, 0, 0.45);
    border: none;
}

#display {
    font-family: "Orbitron", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 18px 35px 18px 20px;
    font-size: 3.5rem;
    text-align: right;
    color: chartreuse;
    background: rgb(36, 69, 4);
    border-top: 10px solid  hsl(0, 65%, 38%);
    border-left: 8px solid  hsl(0, 65%, 38%);
    border-right: 8px solid  hsl(0, 65%, 38%);
    border-radius: 12px;
    outline: none;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background: linear-gradient(
        to bottom,
        hsl(0, 0%, 45%),
        hsl(0, 0%, 28%)
    );
    border: none;
    color: white;
    font-size: 2.4rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow:
        0 6px 0 hsl(0, 0%, 20%),    
        0 8px 12px rgba(0, 0, 0, 0.35);
    transition:
        transform 0.08s ease,
        box-shadow 0.08s ease,
        filter 0.08s ease;
}



button:hover {
    filter: brightness(1.1);
}

button:active {
    transform: translateY(4px);
    box-shadow: 
        0 2px o hsl(0, 0% 20%),
        0 4px 6px rgba(0, 0, 0, 0.35);
    filter: brightness(1.2);
}

